.page_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 3rem 3rem 3rem;
}

.page_header_subtitle {
  color: #470c82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-bottom: 2rem;
}
.page_header_title {
  color: #470c82;
  font-family: 'DM Serif Display', serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.page_header_description {
  font-size: 1.08rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .page_header {
    padding: 4rem 0 3rem 0;
  }

  .page_header_title {
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: normal;
  }
  .page_header_description {
    font-size: 1.06rem;
  }
}
