.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #484848;
  background-color: #c3d6ff;
  padding: 0.4rem 3rem;
  position: sticky;
  top: 0;
}
.mobile_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.4rem 1.5rem;
  }
  .mobile_menu {
    display: block;
    padding: 0.5rem 0.5rem;
  }
}
