.navlinks {
  position: relative;
  display: flex;
  z-index: 110;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navlink {
  font-size: 1.15rem;
  font-weight: 400;
  padding: 5px 12px;
}
.navlink:hover {
  cursor: pointer;
  color: #490fbe;
}

.navlink_footer {
  color: #98f5fb;
  font-size: 1.05rem;
  font-weight: 300;
  padding: 5px 12px;
}

.navlink_footer:hover {
  cursor: pointer;
  color: #f9f9fb;
}
.active {
  color: #5828b6;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }
}
