.navlinks {
  position: relative;
  display: flex;
  z-index: 110;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navlink {
  font-size: 1.15rem;
  font-weight: 400;
  padding: 5px 12px;
}
.navlink:hover {
  cursor: pointer;
  color: #490fbe;
}

.navlink_footer {
  color: #98f5fb;
  font-size: 1.05rem;
  font-weight: 300;
  padding: 5px 12px;
}

.navlink_footer:hover {
  cursor: pointer;
  color: #f9f9fb;
}
.active {
  color: #5828b6;
  font-weight: 500;
}
.mobile_close {
  display: none;
}
@media screen and (max-width: 768px) {
  .navlinks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: #39373ef8;
    color: white;
    transform: translateX(-101%);
    transition: transform 0.5s ease-in-out;
    z-index: 300;
    padding-top: 3rem;
    padding-left: 2rem;
  }

  .mobile_menu {
    display: block;
    transform: translateX(0);
  }

  .mobile_menu .navlink {
    padding-bottom: 2rem;
  }
  .mobile_menu .active {
    color: #28a1b6;
    font-weight: 600;
  }
  .mobile_close {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
